<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="header"></div>
<div class="container-lg bg-light">
        <div class="row" th:each="product,iterationStatus : ${products}">
            <div class="col-2">
                <a th:href="@{'/advert/' + ${product.id}}">
                    <img style="height: 100px; width: 100px;" th:src="@{${product.getImages().get(0).getPath()}}"/>
                </a>
            </div>
            <div class="col-5"><a th:href="@{'/advert/' + ${product.id}}" th:text="${product.getName()}"></a></div>
            <div class="col-2" th:text="${product.price}"></div>
        </div>
</div>
</body>
</html>
