<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CHANGE YOUR PASSWORD</title>
</head>
<body>
<table>
    <tbody>
    <form name="@{/profile/changepassword}" th:object="${passwordForm}" th:action="@{/profile/changepassword}" method="post">
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" id="inputPassword" th:field="*{password}" placeholder="New Password" required min="8" max="32"/></td>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
        </tr>
        <tr>
            <td><label>Password confirm:</label></td>
            <td><input type="password" id="inputPasswordMatches" th:field="*{passwordMatches}" placeholder="Confirm New Password" required min="8" max="32"/></td>
            <p th:if="${#fields.hasErrors('passwordMatches')}" th:errors="*{passwordMatches}">Password error</p>
        </tr>
        <tr>
            <td><button type="submit">Apply</button></td>
        </tr>
    </form>
    </tbody>
</table>
<a href="/profile">BACK</a>
</body>
</html>