<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td><h3 th:text="${product.getName()}"/></td>
    </tr>
    <tr>
        <td><h3 th:text="${product.getDescription()}"/></td>
    </tr>
    <tr>
        <td><p th:text="${product.category.name}"/></td>
    </tr>
    <tr>
        <td><p th:text="${product.getPrice()}"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>