<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td><h3 th:text="${product.getName()}"/></td>
    </tr>
    <tr>
        <td><h3 th:text="${product.getDescription()}"/></td>
    </tr>
    <tr>
        <td><p th:text="${product.category.name}"/></td>
    </tr>
    <tr>
        <td><p th:text="${product.getPrice()}"/></td>
    </tr>
    </tbody>
</table>
<div>
    <form name="@{/advert/{id}/sendmessage" th:object="${message}" th:action="@{'/' + ${product.id} + '/sendmessage'}" method="post">
    <label>Message</label><br/>
        <input type="hidden" th:value="${message.id}" name="id">
        <input type="text" id="inputMessage" th:field="*{text}"/>
        <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Message error</p>
        <br/>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>