<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<table>
    <tbody>
    <form name="@{/profile/update}" th:object="${user}" th:action="@{/profile/update}" method="post">
        <tr>
            <td><label>Email:</label></td>
            <td><input type="email" id="inputEmail" th:field="*{email}" placeholder="${user.getEmail()}"/></td>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p>
        </tr>
        <tr>
            <td><label>First name:</label></td>
            <td><input type="text" id="inputFirstName" th:field="*{firstName}" placeholder="${user.getFirstName()}"/></td>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</p>
        </tr>
        <tr>
            <td><label>Last name:</label></td>
            <td><input type="text" id="inputLastName" th:field="*{lastName}" placeholder="${user.getLastName()}"/></td>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</p>
        </tr>
        <tr>
            <td><label>Phone number:</label></td>
            <td><input type="number" id="inputPhoneNumber" th:field="*{phoneNumber}" placeholder="${user.getPhoneNumber()}"/></td>
            <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number error</p>
        </tr>
        <tr>
            <td><button type="submit">Register</button></td>
        </tr>
    </form>
    </tbody>
</table>
<p><a th:href="@{/}">Home</a></p>
<p><a th:href="@{/login}">Sign in</a></p>
</body>
</html>