<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="header"></div>
<div class="container-lg bg-light">
    <div class="row">
        <div class="col-8">
            <h3>Users products</h3>
                <div class="row">
                    <div class="col-1">No.</div>
                    <div class="col-3">Image</div>
                    <div class="col-4">Product name</div>
                    <div class="col-2">Price</div>
                </div>
                <div class="row" th:each="product,iterationStatus : ${userProducts}">
                    <div class="col-1" th:text="${iterationStatus.count}"></div>
                    <div class="col-3"><img style="height: 100px; width: 100px;" th:src="@{${product.getImages().get(0).getPath()}}"/></div>
                    <div class="col-4"><a th:href="@{'/advert/' + ${product.getId()}}" ><p th:text="${product.getName()}"></p></a></div>
                    <div class="col-2" th:text="${product.getPrice()}"></div>
                </div>
                </tbody>
            </table>
        </div>

        <div style="width: 5px; background: white;"></div>

        <div class="col-3">
            <table>
                <tbody>
                <tr>
                    <td><h3 th:text="${user.getFirstName()}"/></td>
                    <td><h3 th:text="${user.getLastName()}"/></td>
                </tr>
                <tr>
                    <td><p th:text="${user.getEmail()}"/></td>
                </tr>
                <tr>
                    <td><p th:text="${user.getPhoneNumber()}"/></td>
                </tr>
                </tbody>
            </table>
            <ul th:if="${@userService.isLogin()}">
                <li>Send message</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>